@font-face {
    font-family: "Ali_ver.30_Lighter-Rounded";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("https://st.aliexpress.ru/mixer-storage/fonts/corporate-fonts/Aliver30-Regular.woff2")
        format("woff2");
}